<div id="carousel-book" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-book" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-book" data-slide-to="1"></li>
    <li data-target="#carousel-book" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="/books"><img class="img-responsive text-center" src="/images/TheKeyCover.png" alt="The Key by A B Betancourt" style="margin:auto; max-height: 300px;"></a>
    </div>
    <div class="item">
      <a href="/portfolio"><img class="img-responsive text-center" src="/images/portfolio/LoveemAndLeavee.png" alt="Love'em & Leave'em Pet sitters" style="margin:auto;"></a>
    </div>
    <div class="item">
      <a href="/portfolio"><img class="img-responsive text-center" src="/images/portfolio/MCSInstallation.png" alt="MCS Installation Manual" style="margin:auto;"></a>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-book" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-book" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
