<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  {{ site.post }}
  <div id="category_list" class="list-group">
    <a class="list-group-item" href="{{ root_url }}/blog/categories/webdevelopment/">Web Development</a>
    <a class="list-group-item" href="{{ root_url }}/blog/categories/writing">Writing</a>
    <a class="list-group-item" href="{{ root_url }}/blog/categories/books">Book News</a>
    <a class="list-group-item" href-"{{ root_url }}/blog/categories/writingprompt">Writing Prompts</a>
  </div>
</section>
